body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
}
h1 {
    margin: 0;
}
a {
    color: #000;
    text-decoration: none;
}
.header {
    display: flex;
}
.header__container {
    max-width: 1186px;
    width: 100%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}
.header__brand {
    display: flex;
}
.header__logo-name {
    margin-left: 25px;
    margin-top: 67px;
}
.header__logo {
    margin-top: 53px;
}
.header__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #202020;
}
.menu {
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}
.menu__item {
    margin-left: 37px;
    margin-top: 80px;
}
.menu-toggle {
    display: none;
}
.menu__button {
    background: #5528FF;
    border-radius: 5px;
    color:#fff;
    border: 1px solid #5528FF;
    outline: none;
    cursor: pointer;
    padding: 3px 14px;
    font-weight: bold;
}
.menu__button:hover {
    background: #461be0;
    transition: .3s;
}
.menu__link {
    position: relative;
}
.menu__link::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #5528FF;
    transition: .5s;
}
.menu__link:hover::before {
    width: 100%;
}
@media(max-width: 786px) {
    .header__right {
        position: absolute;
        width: 100%;
        top: 120px;
        left: -800px;
        z-index: 1;
        height: 1000px;
        transition: .6s;
        background:#fff;
        overflow-y: hidden;
    }
    .open {
        left: 0;
        transition: .6s;
    }
    .menu {
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }
    .menu__link, .menu__button {
        display: flex;
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
    }
    .menu__button {
        border-radius: 0;
    }
    .header__container {
        padding: 0;
    }
    .menu__item {
        margin: 0;
    }
    .header__left {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 8px;
    }
    .menu__link:hover::before {
        width: 0;
    }
    .menu__link:hover {
        background-color:#5528FF;
        color:#fff;
        transition: .3s;
    }
    .menu-toggle {
        width: 50px;
        background:#fff;
        border:none;
        outline: none;
        cursor: pointer;
        min-height: 40px;
        margin-top: 55px;
        display: block;
    }
    .menu-toggle__item {
        display: block;
        width: 40px;
        height: 4px;
        margin-top: 6px;
        transition: .3s;
        background-color:#5528FF;
    }
    .menu-toggle.is-active .menu-toggle__item:nth-child(1){
        transform: translateY(10px) rotate(45deg);
      }
      
    .menu-toggle.is-active .menu-toggle__item:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
      }
    .menu-toggle.is-active .menu-toggle__item:nth-child(2){
        opacity: 0;
    }
}
.container {
    max-width: 1186px;
    margin: 0 auto;
    padding: 0 8px;
}
.main-content__title {
    margin-top: 100px;
    font-weight: bold;
    font-size: 56px;
    line-height: 65px;
    color: #202020;
    text-align: center;
}
.main-content__info {
    font-size: 32px;
    line-height: 51px;
    color: #4F4F4F;
    max-width: 740px;
    margin-top: 35px;
}
@media(max-width: 1175px) {
    .main-content__info {
        max-width: 100%;
        text-align: center;
        font-size: 26px;
    }
}
@media(max-width: 378px) {
    .main-content__title {
        font-size: 40px;
    }
}
.main-content__button {
    background: #5528FF;
    border-radius: 10px;
    color: #fff;
    outline: none;
    border:1px solid #5528FF;
    padding: 16px 58px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 70px;
    position: relative;
}
.main-content__button::before {
    content: "";
    position: absolute;
    width: 0;
    height: 58px;
    top: 0px;
    left: 0px;
    border: 5px solid #fff;
    border-radius: 10px;
    opacity: 0;
    box-sizing:border-box;
    transition: .4s;
}
.main-content__button:hover::before {
    width: 100%;
    transition: .5s;
    opacity: 1;
}
@media(max-width: 1175px) {
    .main-content__button {
        margin-top: 0;
    }
    .main-content__button-wrapper {
        display: flex;
        justify-content: center;
    }
}
.line {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 110px 0;
}
.line::before {
    content: "";
    position: absolute;
    background-color:#C2C2C2;
    width: 100%;
    height: 1px;
    margin-top: 7px;
    z-index: -100;
    left: 0;
}

.line__title {
    background-color:#fff;
    z-index: 1;
    width: 140px;
    height: 50px;
    font-size: 14px;
    line-height: 16px;
    color: #C2C2C2;
    display: flex;
    justify-content: center;
}
.services__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.services__block {
    display: flex;
    justify-content: space-between;
    max-width: 420px;
    align-items:center;
    width: 100%;
    margin-right: 16px;
}
.services__icon {
    margin-right: 60px;
}
.services__title {
    font-size: 28px;
    line-height: 32px;
    font-weight: normal;
    margin-bottom: 17px;
}
.services__text {
    font-size: 14px;
    line-height: 18px;
    color: #B2B2B2;
}
.services__block{
    margin-bottom: 100px;
}
.last-block {
    margin-bottom: 0;
}
.services__block-content {
    width: 290px;
}
@media(max-width: 900px) {
    .services__wrapper {
        flex-direction: column;
    }
    .last-block {
        margin-bottom: 70px;
    }
    .services__block {
        max-width: 100%;
        justify-content: center;
        margin-bottom: 70px;
    }
    .services__icon {
        width: 100px;
    }
}
@media(max-width: 350px) {
    .services__title {
        font-size: 24px;
    }
    .services__icon {
        width: 180px;
        margin: 0;
    }
    .services__text {
        width: 100%;
    }
}
.clients__line {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.clients__wrapper {
    width: 100%;
}
.clients__line:not(:last-child) {
    margin-bottom: 62px;
}
@media(max-width: 700px) {
    .clients__line {
        flex-direction: column;
        justify-content: center;
    }
    .clients__line:not(:last-child) {
        margin-bottom: 0;
    }
    .clients__item {
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    }
    .clients__line:last-child .clients__item:last-child {
        margin: 0;
    }
}
.team__line {
    display: flex;
    justify-content: space-between;
}
.team__item {
    display: flex;
    max-width: 265px;
    width: 100%;
    justify-content: space-between;
    align-items:center;
}
.team__name {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #202020;
    margin-bottom: 11px;
}
.team__discription {
    font-size: 14px;
    line-height: 16px;
    color: #B2B2B2;
}
.team__line:not(:last-child) {
    margin-bottom: 60px;
}
.team__line:last-child {
    margin-bottom: 100px;
}
.team__img {
    margin-right: 10px;
}
@media(max-width: 700px) {
    .team__line {
        flex-direction: column;
    }
    .team__line:not(:last-child) {
        margin-bottom: 0;
    }
    .team__line:last-child {
        margin-bottom: 50px;
    }
    .team__item {
        padding-bottom: 50px;
        justify-content: center;
        max-width: 100%;
        display: flex;
        margin: 0 auto;
    }
    .team__line:last-child {
        margin-bottom: 100px;
    }
    .line {
        padding: 50px 0;
    }
}
.footer__logo {
    display: flex;
    align-items:center;
    height: 100%;
}
.footer__content {
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.footer {
    background: #F7F7F7;
}
.footer__list {
    display: flex;
    list-style: none;
    align-items:center;
    height: 100%;
}
.socials__item:not(:last-child) {
    margin-right: 40px;
}
.socials__link {
    cursor: pointer;
}
@media(max-width: 360px) {
    .socials__item:not(:last-child) {
        margin-right: 20px;
    }
}
